$spacing-unit: 30px;
$top-bar-background-color: #333;
$top-bar-color: #fff;
$version-list-background-color: #008cba;
$version-list-border-color: #007095;
$version-list-item-background-color: #fff;
$version-list-item-color: #333;
$symbol-input-color: #333;
$symbol-item-color: #fff;
$symbol-search-background-color: #333;
$symbol-search-color: #fff;
